<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Your Pokemon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script type="text/javascript">$(document).ready(function() {
    $('select').material_select();
    });</script>
    <script type="text/javascript">$(document).ready(function() {
      Materialize.updateTextFields();
    });</script>
</head>

<body>
    <nav>
      <div class="nav-wrapper yellow darken-2">
        <a href="#" class="brand-logo"><img class="pokemon-logo-image" src="../images/pokemon-logo.png"></a>
        <ul id="navText" class="right hide-on-med-and-down">
            <li><a href="/trainers">TRAINERS</a></li>
            <li><a href="/">POKEMON</a></li>
            <li><a href="/gym">GYM</a></li>
        </ul>
      </div>
    </nav>
     
<div class = "main">
    <div class = "selection">
        <div class = "container"> 
          <div class = "title white">
            <h1>Edit <%= trainers.name %> </h1>
          
        <!-- Dropdown Trigger -->
        <div class="row">
          <div class="input-field col s12">  
            <form action="/editPokemon/<%= profile.id %>" method="post" class="col s12 white">
        
                <select name="trainer">
                    <option selected>Choose your trainer</option>
                    <% for (let i=0; i<name.length; i++){ %>
                     
                    <option value="<%= name[i].id%>" ><%= name[i].name%>  <% name[i].id %> </option>
                    <% } %>
                   
                </select>
                <input type="text" name="cp" value= "<%= profile.cp %>" >
                <input type="text" name="in_gym" value= "<%= profile.in_gym %>" >
                <input type="number" name="id" value= "<%= trainers.id %>" >

                <input type="submit">
            </form>
           </div>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    <footer class="page-footer black">
           
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright
              </div>
            </div>
          </footer>
              
  </body>
</html>
