<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Battle Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">$(document).ready(function() {
            Materialize.updateTextFields();
          });</script>
    <script type="text/javascript">$(document).ready(function() {
    $('select').material_select();
    });</script>
</head>
<body>
    <nav>
      <div class="nav-wrapper yellow darken-2">
        <a href="/" class="brand-logo"><img class="pokemon-logo-image" src="../images/pokemon-logo.png"></a>
        <ul id="navText" class="right hide-on-med-and-down">
            <li><a href="/trainers">TRAINERS</a></li>
            <li><a href="/">POKEMON</a></li>
            <li><a href="/gym">GYM</a></li>
        </ul>
      </div>
    </nav>

  <div class = "main">
    <div class="row col s12"> </div>
      <div class = "selection">
        <div class = "container white "> 
          <h1>Welcome to the Gym </h1>

       <div class = "menus">
             <form action="/#/<%= pokemon.id %>" method="post" class="col m4 white">
            
                <select name="battle1">
                    <option selected>Pokemon 1</option>
                    <% for (let i=0; i<pokemon.length; i++){ %>
                      
                    <option value="<%= pokemon[i].id%>" ><%= pokemon[i].name%>  <% pokemon[i].id %> </option>
                    <% } %>
                    
                </select>
                
                <input type="submit">
             </form>
            </div>
          </div>
        </div>

        <div class = "selection">
            <div class = "container white"> 
              <div class = "menus">
                 <form action="/#/<%= pokemon.id %>" method="post" class="col m4 offset-7 white">
              
                  <select name="battle2">
                      <option selected>Pokemon 2</option>
                      <% for (let i=0; i<pokemon.length; i++){ %>
                        
                      <option value="<%= pokemon[i].id%>" ><%= pokemon[i].name%>  <% pokemon[i].id %> </option>
                      <% } %>
                      
                  </select>
                  
                  <input type="submit">
              </form>
            </div>
          </div>
          </div>

       
    </div>

<div>
  
</div>

<footer class="page-footer black">
    
     <div class="footer-copyright">
       <div class="container">
       © 2014 Copyright
       </div>
     </div>
   </footer>
       
</body>
</html>


</html>